/* CSS declarations go here */
body {
    margin:0;
}

.header {
    height:6em;
    background-color: #27556C;
    border-bottom: inset;
    border-bottom-color: firebrick;
    border-bottom-width: .5em;
}
.header .logo {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 10px;
    background-color:#6E92A1;
    padding:.5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.header img {
    max-width:150px;
}
.header .sitename {
    font-family: Helvetica;
    font-size: 2.5em;
    display:inline-block;
    color: #6E92A1;
    vertical-align: middle;
    line-height: 2.5em;
}

.footer {
    background-color: #27556C;
    height: 6em;
    line-height: 6em;
    vertical-align: middle;
    color: #6E92A1;
}

body > div:nth-child(5) {
    display:none;
}
#heatmap {
    position:absolute;
    left:0;
    top:2em;
    z-index:0;
}
#floorplan {
    position:absolute;
    left:0;
    top:2em;
    z-index:1;
}
.sensor_list {
    width: 300px;
    postion: absolute;
    right: -20em;
    top:2em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}